<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>VerificationCodeTemplate</title>
</head>
<body>
<div style="border:2px solid #D3D3D3;"><div class="header">
    <!--  <img width="100%" height="30%" src="cid:demoimg" alt="dlut"/> -->
    </div><hr color=\"#009ACD\">
    <div class="content">
        你好，同学:<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <font size="5" style="display:block;text-align: center">验证您是该电子邮箱地址地所有者：</font>
        <span  th:text="${email}"  style="color: lightskyblue;display:block;text-align: center;size: auto"></span>
        <br><br>
        <font size="4" style="display:block;text-align: center">有人在验证电子邮件地址时输入了该电子邮件地址 您可以使用此验证码来验证您是该电子邮件地址的所有者。</font>
        <div >
               <span th:text="${verificationCode}"  style="color: lightskyblue;display:block;text-align: center;size: auto"></span>
            </div>
        <br><br>
        <font size="4" style="display:block;text-align: center">如果这不是您本人所为，则可能是有人误输了您的电子邮件地址。请勿将此验证码泄露给他人，并且您目前无需执行任何其它操作。</font>
        <div style="color: gray;">
            格致空间团队敬上(<span id="time">10分钟后失效</span>)
             </div>
        </div></div>
</body>
</html>